[Unit]
Description=Consul server
[Service]
ExecStart=/usr/local/bin/consul agent -data-dir=/srv/consul -node=agent-{{inventory_hostname}} -bind={{host_ip}} -enable-script-checks=true -config-dir=/etc/consul.d -join={{ consul_server_ip }}
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target